@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* flnt for word Shape  */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  .ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
  }
  
/* shared style  */

  *{
    margin: 0;
  }
  body{
    background-color: black;
  }
  .btn-primary{
    border-radius: 3rem;
    background: rgb(230, 83, 60);
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
  .margin-top{
    margin-top: 20px;
  }
  .margin-bottom{
    margin-bottom: 20px;
  }
  .section-title{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 1rem;
  }
  .section-subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
  .text-center{
    text-align: center;
  }
 
  /* header style  start */
  .my-header{
    background-image: linear-gradient(180.00deg, #111111,#777777 100%);
    padding: 3.5rem 9rem 0 9rem;
 }
  /* nav style  */
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav > ul{
    display: flex;
    align-items: center;
    gap: 45px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 10px 15px;
  }
  nav li{
    list-style: none;
  }
  nav > ul > li > a{
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
  }
  .nav-title{
    color: #E6533C;
    font-size: 36px;
    font-weight: 800;
  }
  .home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
  }
  #menu-bar{
    display: none;
  }

  /* hero style  */
  .hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .hero-title{
    color: rgb(255, 255, 255);
    font-size: 4.75rem;
    font-weight: 900;
  }
  .hero-subtitle{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin: 25px auto;
  }
  .hero-info-container{
    max-width: 540px;
  }
  .hero-image-container{
    position: relative;
  }
  .btn-download{
    border-radius: 3rem;
    padding: 1rem 2rem;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    color: black;
  }
  .hero-btns{
    display: flex;
    gap: 16px;
  }
  .circle-div{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
    border: none;
  }
  .tutorial-div{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -64px;
    bottom: 100px;
  }
  .workout-div{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 30px 40px;
    position: absolute;
    text-align: center;
    right: -60px;
    bottom: 350px;
  }
  .tutorial-number{
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .tutorial{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
  }
  .workout-number{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
  }
  .workout{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
  }
                  /* header end  */

  /* main part start  */
  
  /* habit section  */
  .habits{
    max-width: 1044px;
    margin: 100px auto;
  }
  .habit{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 2.5rem;
  }
  .habit  img{
    border-radius: 50%;
    margin-bottom: 25px;
  }
  .habit-title{
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }
  .habit-subtitle{
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }

    /* run extra section  */

    .run-extra-container{
      max-width: 1040px;
      margin: 100px auto;
      display: flex;
      gap: 165px;
      align-items: center;
      padding: 40px;
      background-color:  rgb(34, 34, 34);
      border-radius: 20px;
    }
    .run-img > img{
      width: 100%;
      border-radius: 18px;
    }
  

    /* Trainings and Exercises section  */
    .training-imags{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    .training-imags img{
      width: 100%;
    }
    .training-continer{
      max-width: 1040px;
      margin: 100px auto;
    }
    .training-imags{
      margin-top: 50px;
    }
    .training-img1{
      background-image:  linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)),
      url('../images/exercise1.jpg');
      background-size: cover;
      background-position: center;
      height: 150px;
      padding: 20px;
    }
    .training-img2{
      background-image:  linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),
      url('../images/exercise2.png');
      background-size: cover;
      background-position: center;
      height: 150px;
      padding: 20px;
      color: white;
      column-span: 2;
      grid-column: span 2;
    }
    .training-img3{
      background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/exercise3.png');
      background-size: cover;
      background-position: center;
      height: 150px;
      padding: 20px;
      color: white;
      text-align: end;
    }
    .training-img4{
      background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/exercise4.png');
      background-size: contain;
      background-position: center;
      height: 150px;
      padding: 20px;
      grid-column: span 2;
      color: white;
      text-align: right;
    }
    .training-img5{
      background-image:  linear-gradient(rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)),
      url('../images/exercise5.jpg');
      background-size: cover;
      background-position: center;
      height: 150px;
      padding: 20px;
      color: white;
    }
    .training-img6{
      background-image:  linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)),
      url('../images/exercise6.jpg');
      background-size: cover;
      background-position: center;
      height: 150px;
      padding: 20px;
      color: white;
    }




  /* mediia quary for phone */
  @media screen and (max-width: 576px) {
    *{
      font-size: 6px;
    }
    .hero{
      flex-direction: column;
    }
    #menu-bar{
      display: block;
      color: white;
    }
    .font-sizee{
      font-size: 30px;
    }
    .nav-menu{
      display: none;
    }
    .tutorial-div{
      left: 20px;
    }
    .workout-div{
      right: 10px;
      bottom: 200px;
    }

    /* main par start  */

    /* habit section  */
    .habits-container{
      grid-template-columns: repeat(1, 1fr);
    }
    .habits,
     .run-extra-container,
     .training-continer{
      margin: 30px auto;
    }
    /* run section  */
    .run-extra-container{
      flex-direction: column;
      gap: 20px;
    }
    /* training part  */
    .training-imags{
      grid-template-columns: repeat(2, 1fr);
    }
    .training-img2, .training-img4{
      grid-column: span 1;
    }
  }

  @media screen and (max-width: 992px) and (min-width: 576px) {
    *{
      font-size: 12px;
    }
    .hero{
      flex-direction: column;
    }
    .habits-container{
      grid-template-columns: repeat(2, 1fr);
    }
    .habits{
      margin: 50px auto;
    }
  }